*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;


}
body{
    background-color:#f2f2f2;
    background: image ./ 5450554jpg; ;

}
input:checked ~ .slide{
    transform: translateX(0);
}
 .slide {
    top:0;
    left: 0;
    height: 100%;
    width: 250px;
    position:fixed ;
    background-color:#fff;
    transition: 0.5s ease;
    transform: translate(-100%);
    transition: transform 0.3s ease;
    z-index: 0;
 }


 h1{
    color: #8000ffff;
    font-weight: 800;
    text-align: right;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
 }
 

 ul li{
    list-style: none;

 }

 ul li a{
    color: #011a41;
    font-weight: 500;
    padding: 5px 0;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
 }
.banner img {
  max-height:full;
  width: 100%;
  object-fit: cover;
}

 ul li a li{
    width: 40px;
    text-align: center;
 }

 input{
    display: none;
    visibility: hidden;
    -webkit-appreance:none

 }

.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color:#fff;
    box-shadow: 0 0 10px rgba(0 0 0 0.3);
}
.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #8000ffff;
    border-radius: 50px;
    transform: 0.3s ease;
}
.toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.toggle .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);


}

.toggle .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

        


